*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: beige;
    border: 5px solid black;
    box-sizing: border-box;
}
.box{
    width: 350px;
    height: 80px;
    background-color: blue;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    border: 3px solid red;
    position: relative;
    /* animation-name: rightMovement;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-direction: alternate; */
    /* animation-fill-mode: forwards; */

    animation: 3s linear 1s infinite alternate none running rightMovement;
}
#box2{

    width: 350px;
    height: 80px;
    background-color: blue;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    border: 3px solid red;
    position: relative;
    animation: 5s ease-in 1s infinite alternate none running leftMovement;

}

#circle{
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 3px solid yellow;
    border-radius: 50%;
    margin: 10px;
    position: relative;
    top: 250px;
    left: 50%;
    animation: 10s ease-in-out 0s infinite alternate-reverse
     none running circleMovement;
}
@keyframes circleMovement{
    0%{
        top: 1%;
        left: 5%;

    }
    30%{
        top: 5%;
        left: 90%;

    }
    60%{
        top: 70%;
        left: 10%;
    }
    100%{
        top: 75%;
        left: 90%;

    }

}
@keyframes rightMovement{
    from {
        top: 0;
        left: 0;

    }

    to{
        top: 0;
        left: 1500px;
    }
}

@keyframes leftMovement{
    from{
        top: 600px;
        left: 1350px;
    }

    to{
        top: 700px;
        left: 0;
    }
}